<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doit.dao2.TaskUserMapper">
	<resultMap id="TaskUserMap" type="com.doit.pojo2.TaskUser">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="inspection_task_code" jdbcType="VARCHAR" property="inspectionTaskCode" />
  </resultMap>
    <insert id="insertTaskUser" parameterType="com.doit.pojo2.TaskUser">
    
    insert into task_user (id, user_id, inspection_task_code
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{inspectionTaskCode,jdbcType=VARCHAR}
      )
  </insert>
  
   <update id="updateTaskUser" parameterType="com.doit.pojo2.TaskUser">
   
    update task_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="inspectionTaskCode != null">
        inspection_task_code = #{inspectionTaskCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectTaskUser" resultMap="TaskUserMap" parameterType="com.doit.pojo2.TaskUser">
		SELECT * FROM inspection_task where 
		<trim  prefixOverrides="and">
			<if test="userId != null">
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="inspectionTaskCode != null">
				and inspection_task_code = #{inspectionTaskCode,jdbcType=VARCHAR}
			</if>
			<if test="id !=null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			</trim>
	</select>
	<select id="selectAllTaskUser" resultMap="TaskUserMap" >
		SELECT * FROM inspection_task
		
	</select>
</mapper>